body {
    background-color: beige;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px;
    
}
header {
    margin-left: 50px;
}
ul a{
    padding-right: 50px;
    color: black;
    text-decoration: none;
}
ul a:hover{
    text-decoration: underline;
}
#comprarahora{
    padding: 3px;
    border: solid 1px black ;
    font-weight: 600;
}
.secciones{ margin-top: 100px;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#boton1 {
    border-color: brown;
    background-color: brown;
    color: cornsilk;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 transparent;
    font-size: 15px;
    height: 38px;
    min-width: 226px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}
boton1:hover{ 
    background-color: tomato;
    
}


